body {
    background-color: #EEEEEE;
}

.main-content {
    background-color: #FFFFFF;
    max-width: 960px;
    padding: 10px;
}

.notification-panel {
    padding: 10px;
}

.notification-panel p {
    padding: 5px;
}

.addEditScope {
    width: 400px;
    position: absolute;
    top: 100px;
    left: 77%;
    border: 1px solid black;
}

.tableScope {
    width: 400px;
    position: absolute;
    top: 100px;
    left: 1%;
    border: 1px solid black;
}