<div>

    <h2 ng-show="employeeFormModel.id < 0">{{messages.headings.addEmployee}}</h2>
    <h2 ng-hide="employeeFormModel.id < 0">{{messages.headings.editEmployee}}</h2>

    <div class="notification-panel">
        <p ng-if="formInvalid" class="bg-danger">Test test test</p>
    </div>

    <form name="employeeForm" ng-submit="submitEmployee()" novalidate>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="first-name">First Name *</label>
                <input ng-model="employeeFormModel.name.first"
                       type="text"
                       class="form-control"
                       id="first-name"
                       placeholder="First name"
                       required>
            </div>
            <div class="form-group col-md-4">
                <label for="middle-name">Middle Name</label>
                <input ng-model="employeeFormModel.name.middle"
                       type="text"
                       class="form-control"
                       id="middle-name"
                       placeholder="Middle name (optional)">
            </div>
            <div class="form-group col-md-4">
                <label for="last-name">Last Name *</label>
                <input ng-model="employeeFormModel.name.last"
                       type="text"
                       class="form-control"
                       id="last-name"
                       placeholder="Last name"
                       required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="age">Age *</label>
                <input ng-model="employeeFormModel.age"
                       type="number"
                       class="form-control"
                       id="age"
                       placeholder="Age"
                       required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="designation">Designation *</label>
                <select ng-model="employeeFormModel.designation"
                        ng-options="item as item for item in designations"
                        class="form-control"
                        id="designation"
                        required>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="salary">Salary *</label>
                <input ng-model="employeeFormModel.salary"
                       type="number"
                       class="form-control"
                       id="salary"
                       placeholder="Salary"
                       required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button type="submit"
                        class="btn btn-primary">
                    Submit
                </button>
                &nbsp;

                <a class="btn btn-default"
                   role="button"
                   alt="Reset Form"
                   ng-click="resetForm()">
                    Reset
                </a>

            </div>
            <div class="col-md-4 col-md-offset-4 text-right">
                <a class="btn btn-danger"
                   href="#"
                   role="button"
                   alt="Call add new employee">
                    Cancel
                </a>
            </div>
        </div>

    </form>
</div>


<div class="addEditScope">
    <h3>AddEdit Template Scope</h3>

    <p>EmployeeFormModel = {{ employeeFormModel | json }}</p>

    <p>Employee = {{ employee | json }}</p>

    <p>Employee List = {{ employees | json }}</p>

    <p>Designations = {{ designations | json }}</p>

    <p>Messages = {{ messages | json }}</p>
</div>